#discount {
  padding:6.3rem 1rem 1rem;

  .index__title {
    font-size:2.4rem;
    font-weight:300;
    padding-bottom:1.3rem;
    padding-left:1.3rem;
    letter-spacing:-1px;

      .green__text {
        color:var(--green);
        font-weight:600;
      }
  }

  .discount__inner {
    display: inline-block;
    width:21.3rem;
    height:30.7rem;
    box-sizing: border-box;
    margin:0 auto;

      .discount__thumb {
        position: relative;
        width:210px;
        height:230px;
        border-radius:20px;
        border:1px solid var(--black500);
        padding:1rem;
  
          img {
            border-radius:20px;
          }

          .discount__wrap {
            position:absolute;
            right:20px;

              .tag__special {
                  display:inline-block;
                  padding:0.4rem 1.1rem;
                  background-color: var(--red2);
                  border-radius: 3rem;
                  font-size:1.2rem;
                  font-weight:300;
                  color:var(--white);
                }

          }
      }

      .discount__title {
        font-size:1.4rem;
        font-weight:300;
      }

      .discount__text {

        span {
          display:inline-block;
          margin-right:10px;
          }

          .price {
            font-size:1.6rem;
          }

          .fixprice {
            font-size: 1.4rem;
            color:var(--black400);
            font-weight:300;
            text-decoration-line: line-through;
          }

          .discount {
            color:var(--red);
            font-size:1.4rem;
          }
      }
  }

}

//swiper
.swiper-wrapper {
  text-align:center;
  margin:0 auto;
}

.swiper-button-next:after {
  font-size: 20px;
  color:var(--black);
  font-weight:300;
}

.swiper-button-prev:after {
  font-size: 20px;
  color: var(--black);
  font-weight:300;
}

