
#header {
  position:relative;
  top:0;
  left:0;
  right:0;
  width:100%;
  min-width:1560px;
  height:211px;
  background-color: var(--white);
  z-index: 1000;
}

#main {
  width:100%;
  min-width:1560px;
  min-height:100vh;
  background-color: #ebebeb;
  color:var(--black100);
  margin:0 auto;

}

#footer {
  width:100%;
  min-width:1560px;
  height:210px;
  display:inline-block;
  background-color: var(--black100);
  text-align: center;
  color:var(--black500);
}

//mainLayout

.content__wrap {
  width:1560px;
  display:flex;
  margin:0 auto;
  justify-content: center;
  padding:4rem 4rem 2rem 0;

  .left {
    background:var(--white);
    width:1180px;
    //height:100vh;
    box-sizing: content-box;
  }

  .right {
    background: #5372af;
    width:380px;
    //height:100vh;
  }
}
