#main__banner {

  .banner__inner {
    display:flex;
    flex-wrap: wrap;
    padding:0 3rem 6rem;
    border-radius:20px;


    .mainbanner {
      background-color: var(--white);
      
        img {
          border-radius:2rem;
        }
    }
  }

    
}
