
#onlineService {
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  width:34.2rem;
  height:18.8rem;
  background:#0de242;

  .online__wrap {
    display:flex;
    width:30.9rem;
    height:11.4rem;
    box-sizing: border-box;
    border:1px solid var(--grayddd);
    border-radius:1rem;
    padding:2rem;

      .icon__area {
        width:7rem;
        height:7rem;
      }

      .online__list {
         li {
          padding:0 0 0 20px;
          line-height: 2rem;
          font-size:1.3rem;
          font-weight: 300;

          span {
            position:relative;
            top:-2px;
            left:-3px;
           font-size:6px;
          }
         }
      }

      .icon__area {
        width:90px;
        height:50px;

        img {
          width:41px;
          position: relative;
          top:5px;
          display:block;
          margin:0 auto;
        }

        .online__index {
          display:block;
          text-align: center;
          margin:0 auto;
          padding-top:15px;
          font-size:1.4rem;
          color:var(--green);
        
        }
      }
  }
}

#menulist {
  display: flex;
  justify-content: center;
  margin:2rem 0 4rem;
  background-color:#3db8f1;
  width:34.2rem;
  height:19.5rem;

  .download__wrap {
    overflow:hidden;
    width:30.3rem;

      .list__wrap {

        .list__item {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
          li {
            width:87px;
            height:103px;
            padding:1rem;
            text-align: center;
            //margin-bottom:2rem;

              div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin:0 auto 10px;

                  img {
                    width:35px;
                    height:35px;
                    object-fit: contain;
                  }
              }
              p {
                font-size:1.4rem;
                font-weight: 400;
                letter-spacing: -0.5px;
                line-height: 1.5rem;
                white-space: pre-wrap;

                  &:hover {
                    color:var(--green);
                    transition: all 0.3s;
                  }
              }
          }
        }   
      }
    }
  }

 #rightbanner {
  background:#ffcc00;
  padding-bottom:4rem;
 }

#youtube {
  width:34.2rem;
  height:20rem;
  background:#ff0000;

  .youtube__inner {

      .youtube__thumb {
        position: relative;
        border:1px solid var(--grayddd);
        border-radius: 3px;

          &:hover {

            .logo {
              opacity: 0;
              transition:all 0.3s;
            }
          }

          .logo {
            display:block;
            width:80px;
            height:56px;
            position:absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
          }
      }
  }
  
}
