:root {
  
  --mainfont-notosans: "notosans";
  --mainfont-gmarket: "gmarket";

  --black: #000;
  --black100: #111;
  --black200: #222;
  --black300: #333;
  --black400: #b3b3b3;
  --black500: #f3f3f3;
  --black600: #414141;
  --blackddd:#ddd;

  --blackAlpha:#11111100;
  --blackAlpha100:#11111125;
  --blackAlpha200:#1111114d;
  --blackAlpha300:#11111191;
  --blackAlpha400:#111111c3;
  --blackAlpha500:#111111;
  
  --white: #fff;
  --green: #6e9202;
  --yellow: #ffed45;
  --red:#ff0000;
  --red2:#ff2222;
  
  // 폰트 셋팅
  font-family: var(--mainfont-notosans), var(--mainfont-gmarket);
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  
  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: 100%;

  @media screen and (max-width: 800px) {
      .header__menu {
        font-size: 1.2rem;
      }
      .keyword a{
        line-height: 1.4;
        color:var(--red);
      }
     } 
}

